/***********************************TAG SELECTOR*******************************/
  body {

    background-color: skyblue;
  }

  hr {

    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    background-color: none;
    width: 10%;
    height: 10px;
  }

  h1{
    color: #216353;
    font-family: monospace;
    text-shadow: 2px 3px yellow;
    word-spacing: 2px;
    line-height: 20px;



  }

  h2{
    color: #216353;
    text-shadow: 2px 2px snow;


    font-family:  cursive;

  }

  h3 {

    color: #216353;
    font-family:  cursive;
    text-shadow: 2px 2px snow;

  }



/*****************************************CLASS SELECTOR***********************/
h1.bacon{
text-align: center;
  color: #216353;
  font-family: monospace;
  text-shadow: 2px 3px yellow;
  word-spacing: 2px;
  line-height: 20px;


}
